yminnn2-agy-prj-01-49a23513031f.json
credentials.json
**/.env
.del-env
.env.test
/keys
**/__tmp__
**/.venv
/.tmp_venv
**/node_modules
**/__pycache__
*.pyc
*.pyo
*.pdf
.antigravitycli/0c98b3b9-3877-457f-bb83-35eecb04f686.json
/minio-data
/infrastructure/minio
