fastapi
uvicorn
sqlalchemy
pydantic-ai==1.85.1
logfire[fastapi]
typing-extensions
python-dotenv
pydantic-settings
playwright
pytest
pytest-asyncio
asyncpg
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
asyncpg-stubs
pre-commit
llama-index
# llama-index-embeddings-gemini
llama-index-vector-stores-postgres
google-cloud-secret-manager
python-dotenv
pre-commit
detect-secrets
ggshield
llama-index-embeddings-google-genai

#security
prek
truffleHog

#refactor
vulture
pydantic-graph==1.85.1

dbt-core
dbt-postgres

#type checking
pyright

# openmetadata-ingestion>=1.12.0.0
uvicorn[standard]
